/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body, html {
  background: #efefef;
  font-family: "Helvetica Neue-Light", "Helvetiva Neue Light", "Helvetica", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
}

h1 {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 60px;
  margin: 0;
  padding: 50px;
  width: 100%;
}

.main ul {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
  position:relative;
}
  
.main ul li {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 50px;
  line-height: 50px;
  margin: 0 0 8px 50px;
  text-overflow: ellipsis;
  width: calc(100% - 100px);
}
    
.main ul li a {
  font-size: 18px;
  text-decoration: none; 
}
      
.main ul li a.title {
  color:#000; 
  display: inline-block;
  font-weight: 200;
  overflow: hidden;
  padding: 0 0 0 125px;
  text-overflow: ellipsis;
  width: calc(100% - 125px);
  white-space: nowrap;
}
        
.main ul li a:hover {
  background: #e6f8ff;
}

.main a.fa {
  background: #ff5a76;
  color: #fff;
  height: 50px;
  line-height: 50px;
  position:absolute;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
  width: 50px; 
}
  
.main a:hover {
  background: #d6385b;
}

.main .upvotes {
  background: #36eacc;
  color: #fff;
  font-size: 20px;
  font-weight: bold; 
  height: 50px;
  left: 100px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
  width: 50px;
}


